.mid-news{
    display: flex;
    justify-content: center;
    margin: 33px;
}

.mid-news1{
    max-width: 100%;
    margin-right: 7.5px;
}

.mid-news2{
    max-width: 100%;
    margin: 0 7.5px;
}

.mid-news3{
    max-width: 100%;
    margin: 0 7.5px;
}

.mid-news4{
    max-width: 100%;
    margin-left: 7.5px;
}

.mid-news-headline{
    cursor: pointer;
    padding-top: 10px;
    max-width: 100%;
    height: auto;
}

.mid-news-headline p:first-child{
    color: teal;
    font-size: 16px;
    margin: 0;
}

.mid-news-headline p:last-child{
    font-size: 19px;
    padding-top: 5px;
}