.old-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 33px;
}

.old-news-top-section{
    display: flex;
}

.old-news1{
    max-width: 100%;
    margin-right: 7.5px;
}

.old-news2{
    max-width: 100%;
    margin: 0 7.5px;
}

.old-news3{
    max-width: 100%;
    display: flex;
    margin-left: 7.5px;
}

.old-news1 p:first-child, .old-news2 p:first-child{
    color: teal;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.old-news1 p:last-child, .old-news2 p:last-child{
    font-size: 19px;
    padding-top: 5px;
    cursor: pointer;
}

.old-news3 p:first-child{
    font-size: 16px;
    color: teal;
    cursor: pointer;
}

.old-news3 p:last-child{
    font-size: 24px;
    cursor: pointer;
}

.old-news-headline p{
    padding-left: 20px;
    line-height: 1.4;
}